$green: #065608;
$darkGrey: #7d7b7b;
$grey: #9ea3a4;
$lightGrey: #e9e9e9;
$red: #bf6363;
.widget {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-family: "Muli", sans-serif;
  &:nth-child(even) {
    background-color: rgba(194, 194, 194, 0.331);
  }
  &:nth-child(odd) {
    background-color: rgb(250, 250, 250);
  }
  div {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }
  div.info {
    width: 90%;
    text-align: center;
    h2 {
      margin-top: 10px;
      font-size: 0.9rem;
      font-weight: 400;
    }
    p {
      color: $green;
      font-size: 1.2rem;
      margin: 10px 0;
      font-weight: 400;
    }
  }
  div.sortArrows {
    .up {
      &:hover {
        color: #31a334;
      }
    }
    .down {
      &:hover {
        color: #31a334;
      }
    }
  }
}
