.accountSettings {
  font-family: "Roboto", sans-serif;
  width: 100vw;
  height: 120vh;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
}

.accountSettingsModal {
  font-family: "Roboto", sans-serif;
  width: 400px;
  padding: 20px 10px;
  background: white;
  margin: auto;
  position: absolute;
  top: 10vh;
  left: 35vw;

  @media (max-width: 700px) {
    left: 15vw;
  }
  @media (max-width: 500px) {
    left: 10vw;
  }
  form {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    input {
      width: 150px;
      height: 24px;
      margin: 10px 0;
    }

    button {
      cursor: pointer;
      margin-top: 40px;
      border-radius: 10px;
    }
  }
}

.accSettingsTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  h2 {
    margin: 10px 0;
    font-size: 22px;
  }
}
