.fullPage {
  font-family: "Roboto", sans-serif;
  width: 100vw;
  height: 100vh;
  background: #e5d7c9;
  background-image: url("https://files.slack.com/files-pri/T4JUEB3ME-FGZLTNFGC/background_blur.jpeg");
}

.loginForm {
  width: 100%;
  height: 340px;
  background: white;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.4);
  margin: 20vh auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  button {
    margin: 8px;
  }
  p {
    color: rgba(0, 0, 0, 0.3);
    span {
      color: rgba(0, 0, 0, 0.7);
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.createAccForm {
  width: 100%;
  height: 340px;
  background: white;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.4);
  margin: 20vh auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  button {
    margin: 8px;
  }

  p {
    color: #67bb9b;
    span {
      color: rgba(0, 0, 0, 0.3);
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
